* {
  font-family: "Poppins", sans-serif;
}
.container{
  width:80%;
  display:block;
  margin:6rem auto;
}
.tooltip {
    position: relative;
    margin: auto;
    font-size: 1.2em;
    background-color: #1f74e1;
    color: #ffffff;
    text-align: center;
    padding: 0.8em 2em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    width: 20rem;
    margin: 1rem;
}

/* Top Tooltip */
.tooltip-top:before {
  content: "التلميـح هنــا";
  font-size: 0.8em;
  position: absolute;
  width: 75%;
  background-color: #000000;
  transform: translateX(-50%);
  left: 50%;
  top: -4.5em;
  padding: 0.8em 1em;
  display: none;
}
.tooltip-top:after {
  content: "";
  position: absolute;
  border-top: 1.25em solid black;
  border-left: 1.25em solid transparent;
  border-right: 1.25em solid transparent;
  transform: translateX(-50%);
  left: 50%;
  top: -1.5em;
  display: none;
}

/* Bottom Tooltip */
.tooltip-bottom:before {
  content: "التلميـح هنــا";
  font-size: 0.8em;
  position: absolute;
  width: 75%;
  background-color: #000000;
  padding: 0.8em 1em;
  transform: translateX(-50%);
  left: 50%;
  bottom: -4.5em;
  display: none;
}
.tooltip-bottom:after {
  content: "";
  position: absolute;
  border-bottom: 1.25em solid black;
  border-left: 1.25em solid transparent;
  border-right: 1.25em solid transparent;
  transform: translateX(-25%);
  left: 25%;
  bottom: -1.5em;
  display: none;
}

/* Left Tooltip*/
.tooltip-left:before {
  content: "التلميـح هنــا";
  font-size: 0.8em;
  position: absolute;
  width: 75%;
  background-color: #000000;
  padding: 0.8em 1em;
  transform: translateY(-50%);
  top: 50%;
  left: calc(-75% - 4em);
  display: none;
}
.tooltip-left:after {
  content: "";
  position: absolute;
  height: 0;
  border-left: 1.25em solid black;
  border-top: 1.25em solid transparent;
  border-bottom: 1.25em solid transparent;
  bottom: 0.3em;
  left: -2.2em;
  display: none;
}

/* Right Tooltip*/
.tooltip-right:before {
  content: "التلميـح هنــا";
  font-size: 0.8em;
  position: absolute;
  width: 50%;
  background-color: #000000;
  padding: 0.8em 1em;
  transform: translateY(-50%);
  top: 50%;
  right: calc(-50% - 4em);

  display: none;
}
.tooltip-right:after {
  content: "";
  position: absolute;
  height: 0;
  border-right: 1.25em solid black;
  border-top: 1.25em solid transparent;
  border-bottom: 1.25em solid transparent;
  bottom: 0.3em;
  right: -2.2em;

  display: none;
}

.tooltip:hover:before {
  display: block;
}
.tooltip:hover:after {
  display: block;
}
